<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='/assets/images/web-icon/icons8-planet-pastel-glyph-16') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="F:\CodingDojo\Python\project\flask_app\static\css\styles.css"
    />
    <title>Antimatter Education</title>
  </head>
  <body>
    <!-- NAV BAR  -->
    <nav
      class="navbar navbar-expand-lg sticky-top bg-dark"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <img
          src="{{ url_for('static', filename='/assets/images/antimatter.png') }}"
          alt="antimatter logo"
          height="70"
          width="100"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/articles/all">Articles</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Solar System
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="d-flex align-items-center ms-2">
                    <img
                      src="{{ url_for('static', filename='/assets/images/mercury.png') }}"
                      alt="mercury icon"
                      class="nav-bar-icons"
                    />
                    <a class="dropdown-item" href="/planet/mercury">Mercury</a>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center ms-2">
                    <img
                      src="{{ url_for('static', filename='/assets/images/venus.png') }}"
                      alt="venus icon"
                      class="nav-bar-icons"
                    />
                    <a class="dropdown-item" href="/planet/venus">Venus</a>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center ms-2">
                    <img
                      src="{{ url_for('static', filename='/assets/images/earth.png') }}"
                      alt="earth icon"
                      class="nav-bar-icons"
                    />
                    <a class="dropdown-item" href="/planet/earth">Earth</a>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center ms-2">
                    <img
                      src="{{ url_for('static', filename='/assets/images/mars.png') }}"
                      alt="mars icon"
                      class="nav-bar-icons"
                    />
                    <a class="dropdown-item" href="/planet/mars">Mars</a>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center ms-2">
                    <img
                      src="{{ url_for('static', filename='/assets/images/jupiter.png') }}"
                      alt="jupiter icon"
                      class="nav-bar-icons"
                    />
                    <a class="dropdown-item" href="/planet/jupiter">Jupiter</a>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center ms-2">
                    <img
                      src="{{ url_for('static', filename='/assets/images/saturn.png') }}"
                      alt="saturn icon"
                      class="nav-bar-icons"
                    />
                    <a class="dropdown-item" href="/planet/saturn">Saturn</a>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center ms-2">
                    <img
                      src="{{ url_for('static', filename='/assets/images/uranus.png') }}"
                      alt="uranus icon"
                      class="nav-bar-icons"
                    />
                    <a class="dropdown-item" href="/planet/uranus">Uranus</a>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center ms-2">
                    <img
                      src="{{ url_for('static', filename='/assets/images/neptune.png') }}"
                      alt="neptune icon"
                      class="nav-bar-icons"
                    />
                    <a class="dropdown-item" href="/planet/neptune">Neptune</a>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center ms-2">
                    <img
                      src="{{ url_for('static', filename='/assets/images/pluto.png') }}"
                      alt="pluto icon"
                      class="nav-bar-icons"
                    />
                    <a class="dropdown-item" href="/planet/pluto">Pluto</a>
                  </div>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/the-solar-system">The Solar System</a>
                </li>
              </ul>
            </li>
            <li class="nav-item"></li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery">Gallery</a>
            </li>
          </ul>
          {% if session.get('first_name') != None %}
            <h3 class="text-white me-3">Welcome {{session['first_name']}}!</h3>
          {% endif %}
          <form action="/gallery/search" method="POST" class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="search-gallery"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
          {% if session.get('user_id') == None %}
          <a class="btn btn-primary ms-2" href="/login/page">Login</a>
          {% else %}
          <a class="btn btn-danger ms-2" href="/logout">Log Out</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <!-- CONTENT  -->
    <!-- 3d element  -->
    <section>
      <div class="sketchfab-embed-wrapper">
        <iframe
          title="Need some space?"
          class="w-100 border border-dark"
          frameborder="0"
          allowfullscreen
          mozallowfullscreen="true"
          webkitallowfullscreen="true"
          allow="autoplay; fullscreen; xr-spatial-tracking"
          xr-spatial-tracking
          execution-while-out-of-viewport
          execution-while-not-rendered
          web-share
          height="650"
          src="https://sketchfab.com/models/d6521362b37b48e3a82bce4911409303/embed?autospin=1&autostart=1&ui_infos=0&ui_watermark_link=0&ui_watermark=0"
        >
        </iframe>
          <h1 id="over" class="bounceIn welcome-title text-center w-100">Antimatter Education</h1>
        <form id="over2" action="#anchor-1">
          <button class="btn btn-danger shadow-lg">Learn More</button>
        </form>
      </div>
    </section>
    <div class="container-xl auto">
      <div class="text-white m-3 mb-5">
        <h1 id="anchor-1">Welcome to Antimatter Education!</h1>
        <p>
          Antimatter Education is a website based around free education for all about space. We encourage people to create accounts and post space-related articles in our Articles section. Are you new here? Signing up is free and easy without the pesky marketing emails!
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <div
          class="bounceIn d-flex flex-column border-dark border bg-dark text-white m-2 p-4 w-100 justify-content-between"
        >
          <div>
            <h2>Articles</h2>
            <p>
              Interested in contributing your own articles onto Antimatter?
              Click to below to learn more and begin contributing today.
            </p>
          </div>
          <form action="/articles/all">
            <button class="btn btn-outline-success">Articles</button>
          </form>
        </div>
        <div
          class="bounceIn border-dark border bg-dark text-white m-2 p-4 w-100 justify-content-between d-flex flex-column"
        >
          <div>
            <h2>The Solar System</h2>
            <p>
              The Solar System is the system in which we live in, this is home!
              Formed over 4.6 billion years ago, the Solar System is home to
              eight planets (and a little dwarf planet) including our own Earth!
              Click below to learn more.
            </p>
          </div>
          <form action="/the-solar-system">
            <button class="btn btn-outline-success">The Solar System</button>
          </form>
        </div>
        <div
          class="bounceIn border-dark border bg-dark text-white m-2 p-4 w-100 justify-content-between d-flex flex-column"
        >
          <div>
            <h2>Gallery</h2>
            <p>
              Interested in seeing actual photos from Nasa? Click below to see
              more.
            </p>
          </div>
          <form action="/gallery">
            <button class="btn btn-outline-success">Gallery</button>
          </form>
        </div>
      </div>
      <div class="rounded text-white bg-dark border border-dark w-75 p-3 mt-3 mb-3 m-auto">
        <h1>NASA Photo of the Day!</h1>
        <hr>
        <h2>{{info.title}}</h2>
        <img id="photo-of-the-day" src="{{info.hd_image_url}}" alt="#" class="w-100 rounded border border-dark">
        <h4 id="date">{{info.date}}</h4>
        <p id="explination">{{info.explanation}}</p>
      </div>
      <div class="d-flex justify-content-around mt-3">
        <div>
          <div
            class="card bg-dark border-dark text-white mb-5"
            style="width: 18rem"
          >
            <img
              src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA22947.width-1280.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Jupiter</h5>
              <p class="card-text">
                Jupiter is the biggest planet in our Solar System. Shown is a
                cyclonic storm in Jupiter's northern hemisphere
                <a
                  href="https://www.jpl.nasa.gov/images/pia22947-jupiter-spiral"
                  >Photo captured by NASA</a
                >.
              </p>
              <a href="/planet/jupiter" class="btn btn-primary">Jupiter</a>
            </div>
          </div>
          <div class="card bg-dark border-dark text-white" style="width: 18rem">
            <img
              src="https://smd-cms.nasa.gov/wp-content/uploads/2023/04/hs-2016-15-a-full_tif-jpg.webp"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Mars</h5>
              <p class="card-text">
                A photo of Mars captured by the Hubble Telescope taken over 50
                million miles from Earth on May 12, 2016.
                <a
                  href="https://science.nasa.gov/centers-and-facilities/goddard/new-hubble-portrait-of-mars/"
                  >Photo captured by NASA</a
                >.
              </p>
              <a href="/planet/mars" class="btn btn-primary">Mars</a>
            </div>
          </div>
        </div>
        <div class="card bg-dark border border-dark text-white">
          <div class="card-header">Featured Content</div>
          <div class="card-body">
            <h5 class="card-title">NASA's Webb captures NGC 346</h5>
            <img
              class="card bg-dark border border-dark m-2"
              width="800px"
              height="500px"
              src="https://www.nasa.gov/wp-content/uploads/2023/10/webb-stsci-01hbvhzw1q7gtj0vrpe721t5pt.png"
              alt=""
            />
            <p class="card-text">
              NASA has captured a brand new infared image of NGC 364 from the
              Webb Space Telescope.
            </p>
            <a href="/articles/all" class="btn btn-outline-primary">View Articles</a>
          </div>
        </div>
      </div>
    </div>

    <!-- COOKIES BAR  -->

    <div
      id="cookies-bar"
      class="text-white cookies-bar p-3 d-flex fixed-bottom justify-content-around text-white align-items-center"
    >
      <p>
        This website uses cookies to ensure you get the best experience on our
        website. <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Click here to learn more</a>.
      </p>
      <button class="btn btn-success shadow" onclick="removeCookiesBar()" id="accept-cookies">Accept</button>
    </div>

    <script src="{{ url_for('static',filename='/js/script.js') }}"></script>
    <script src="{{ url_for('static',filename='/js/config.js') }}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <footer>
      <div class="text-white container d-flex justify-content-around">
        <p>&copy; 2023 Antimatter. All rights reserved.</p>
        <p>Icons by <a href="https://icons8.com/icons">icons8</a>.</p>
      </div>
    </footer>
  </body>
</html>
